body{
margin:0;
font-family:Arial;
background:#06194d;
color:white;
}

.center{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
background:#17398d;
padding:25px;
margin:20px;
border-radius:15px;
}

input{
width:100%;
padding:12px;
margin-bottom:10px;
border:none;
border-radius:8px;
}

button{
background:gold;
border:none;
padding:10px 15px;
border-radius:8px;
cursor:pointer;
margin:5px;
font-weight:bold;
}

header{
background:#081b57;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

.coins{
font-size:24px;
font-weight:bold;
color:#00ff55;
}

.match{
background:#0b245f;
padding:15px;
margin-top:10px;
border-radius:10px;
}